/* 
    Created on : 6 mar. 2021, 12:21:13
    Author     : Facu Paez
*/

/* ================================================== LOGIN FORM STYLESHEET ===============================================*/

/* ================================================== FONTS ==================================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/* ================================================== SELECTION STYLING ==================================================*/

::selection {
    color: #fff;
    background: #f676b2; /* Safari */
}
::-moz-selection {
    color: #fff;
    background: #f676b2; /* Firefox */
}

/* ================================================== BODY STYLING ==================================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background: url(../images/bg.png) repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-align: left;
    text-decoration: none;    
    /*margin: 0;
    margin-bottom: 40px;*/
}

.alert-danger-registro {
    position: relative;
    padding: 1px 1px;
    margin-bottom: 1rem;
    color: #F9191B;
    font-size: 15px;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    width: 298px;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    width: 298px;
}

.alert-danger-delete {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    width: 460px;
}

.label{
    font-size: 12px;
    color: #3f9db8;
}

.container-fluid{
    margin: 150px 0px 250px 0px;
    max-width: 1600px;
}

.input-delete-modal{
    min-width: 400px;
}

.input-delete-modal:focus{  
    outline: none;
}

#temporally{
    display:inline-block;
}

.alinear-btn-nuevoUsuario{
    float: right;
}

/* ================================================== Estilos header ==================================================*/
/* ================================================== #Navigation ================================================== */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
    height: 24px;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navigation-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar{
    padding: 0;
}
.navbar-brand img{
    height: 28px;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link{
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-link-logout{
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
    color: #0d6efd !important;
}
.nav-item-logout:hover .nav-link-logout{
    color: #dc3545 !important;
    text-decoration: none;
}
.nav-item.active .nav-link{
    color: #777 !important;
}
.nav-link{
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-link-logout{
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #0d6efd;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item-logout:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #dc3545;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item-logout:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after{
    opacity: 0;
}
.nav-item{
    position: relative;
    transition: all 200ms linear;
}
.nav-item-logout{
    position: relative;
    transition: all 200ms linear;
}

/* ================================================== #dropdown style ================================================== */

.bg-light {
    background-color: #fff !important;
    transition: all 200ms linear;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
    padding: 10px!important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
    color: #fff;
    background-color: rgb(90, 80, 230);
}

/* ================================================== #Media ================================================== */

@media (max-width: 767px) { 
    h1{
        font-size: 38px;
    }
    .nav-item:after{
        display: none;
    }
    .nav-item-logout:after{
        display: none;
    }
    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    .nav-item-logout::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after{
        transform: rotate(90deg);
        opacity: 0;
    }
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
}

/* ================================================== #Footer ================================================== */

footer {
    width: 100%;
    display: inline-block;
    margin: 0;
    height: 70px;
    background-color: #999;
    position: absolute;
    bottom: 0;
}
footer .copyright {
    width: 50%;
    float: left;
}
@media (max-width: 600px) {
    footer .copyright {
        width: 100%;
    }
}
footer .copyright p {
    padding-bottom: 0;
    color: white;
    font-size: 0.7em;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 25px;
}
@media (max-width: 600px) {
    footer .copyright p {
        text-align: center;
        padding: 0;
    }
}
footer .social {
    width: 50%;
    float: right;
}
@media (max-width: 600px) {
    footer .social {
        width: 100%;
    }
}
footer .social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}
footer .social a:hover {
    background-color: #222;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

.linked {
    background-color: #1e83ae;
    font-size: 1.2em;
    width: 20%;
}

.face {
    background-color: #3d5b94;
    font-size: 1.2em;
    width: 20%;
}

.web {
    background-color: #3dacdd;
    font-size: 1.2em;
    width: 20%;
}

.support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
}

