<div class="myFormCreate">
    <form id="formUnidades" th:object="${crearUnidad}" th:action="@{/crearUnidad}" method="post">
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Crear unidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label" for="dominio">Dominio:</label>
                            <input class="form-control" type="text" id="dominioCreate" name="dominio"/>
                            <!--<div class="alert-danger-registro" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</div>
                            -->
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="tipoUnidad">Tipo unidad:</label>
                            <select class="form-control" id="tipoUnidadCreate" name="tipoUnidad">
                                <option th:each="tipoUnidad :${tipoUnidadLista}" th:value="${tipoUnidad.idTipoUnidad}" th:text="${tipoUnidad.nombre}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="estadoUnidad">Estado:</label>
                            <select class="form-control" id="estadoUnidadCreate" name="estadoUnidad">
                                <option th:each="estadoUnidad :${estadoUnidadLista}" th:value="${estadoUnidad.idEstadoUnidad}" th:text="${estadoUnidad.nombre}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="descripcion">Descripción:</label>
                            <input class="form-control" type="text" id="descripcionCreate" name="descripcion" />
                        </div>
                        <br/>
                        <!--FOOTER-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <input type="submit" class="btn btn-success" value="Guardar unidad"/>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>