<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--META-->
        <meta charset="UTF-8"/>
        <title>Registro Template</title>

        <!--STYLESHEETS-->  
        <link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/>

    </head>
    <body>
        <!--WRAPPER-->
        <div id="wrapper" style="margin-left: -220px;">

            <!--LOGIN FORM name="register-form"-->
            <form class="login-form" style="margin-top: -180px; width: 430px;"  th:object="${editarUsuario}" th:action="@{/editar}" method="post">

                <!--HEADER-->
                <div class="header">
                    <h1>Editar usuario.</h1>
                </div>

                <!--CONTENT-->
                <div class="content">
                    <input type="text" th:field="${registroUsuario.nombre}" class="input" placeholder="Nombre" style="width: 80%;"/>

                    <input type="text" th:field="${registroUsuario.apellido}" class="input lastname" placeholder="Apellido" style="width: 80%;"/>

                    <input type="text" th:field="${registroUsuario.email}" class="input email" placeholder="Email" style="width: 80%;" />
                    
                    <div>
                        <select th:field="${registroUsuario.roles}" class="input select" style="width: 94%; color: grey;">
                            <option th:each="rol :${rolesLista}" th:value="${rol.idRol}" th:text="${rol.nombre}"></option>
                        </select>
                    </div>

                    <input type="password" th:field="${registroUsuario.password}" class="input password" placeholder="Password" style="width: 80%;" />

                    <input type="password" th:field="${registroUsuario.confirmaPassword}" class="input password" placeholder="Confirma Password" style="width: 80%;" />

                </div>

                <!--ERROR MESSAGE-->
                <div class="content">
                    <div style="text-align: center;" class="alert-danger-registro" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error Message</div>
                </div>

            </form>
            <!--END LOGIN FORM-->

        </div>
        <!--END WRAPPER-->

        <!--GRADIENT-->
        <div class="gradient"></div>

        <!--SCRIPTS-->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

    </body>

</html>
