<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login Template</title>
        <meta charset="UTF-8"/>

        <!--STYLESHEETS-->
        <link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/>

        <!--SCRIPTS-->
        <!--
        <script type="text/javascript" src="js/funciones.js" th:src="@{/js/funciones.js}"></script>
        -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        <!--Slider-in icons-->
        <script type="text/javascript">
            $(document).ready(function () {
                $(".username").focus(function () {
                    $(".user-icon").css("left", "-48px");
                });
                $(".username").blur(function () {
                    $(".user-icon").css("left", "0px");
                });
                $(".password").focus(function () {
                    $(".pass-icon").css("left", "-48px");
                });
                $(".password").blur(function () {
                    $(".pass-icon").css("left", "0px");
                });
            });
        </script>
    </head>
    <body>

        <!--WRAPPER-->
        <div id="wrapper">

            <!--SLIDE-IN ICONS-->
            <div class="user-icon"></div>
            <div class="pass-icon"></div>

            <!--LOGIN FORM-->
            <form name="login-form" class="login-form" th:action="@{/login}" method="POST">

                <!--HEADER-->
                <div class="header">
                    <h1>Iniciar Sesión</h1>
                    <span>Complete el formulario a continuación para iniciar sesión.</span>
                </div>

                <!--CONTENT-->
                <div class="content">
                    <input name="username" type="text" class="input username" placeholder="Usuario" required="" onfocus="this.value = ''" />
                    <input name="password" type="password" class="input password" placeholder="Password" required="" onfocus="this.value = ''" />
                </div>

                <!--FOOTER-->
                <div class="footer">
                    <input type="submit" value="Ingresar" class="button" />
                    <a th:href="registro" class="register">Registrarme</a>
                </div>
            </form>
            <!--END LOGIN FORM-->

            <!--ERROR MESSAGES-->
            <div th:if="${param.error}" class="" role="alert">
                Usuario o contraseña inválido.
            </div>
            <div th:if="${param.logout}" class="" role="alert">
                Te has desloggeado con éxito.
            </div>
            
        </div>
        <!--END WRAPPER-->

        <!--GRADIENT-->
        <div class="gradient"></div>

    </body>

</html>
