<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--META-->
        <meta charset="UTF-8"/>
        <title>Registro Template</title>

        <!--STYLESHEETS-->  
        <link rel="stylesheet" type="text/css" href="../static/css/estilos.css" th:href="@{/css/estilos.css}"/>

        <!--SCRIPTS-->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        <script src="js/funciones.js"></script>

    </head>
    <body>

        <!--WRAPPER-->
        <div id="wrapper" style="margin-left: -220px;">

            <!--LOGIN FORM name="register-form"-->
            <form class="login-form" style="margin-top: -150px; width: 430px;" th:object="${registroUsuario}" th:action="@{/registro}" method="post">

                <!--HEADER-->
                <div class="header">
                    <h1>Formulario de registro.</h1>
                    <span>Complete el formulario a continuación para registrar su usuario en el sitema.</span>
                </div>

                <!--CONTENT-->
                <div class="content">
                    <input name="nombre" type="text" th:field="${registroUsuario.nombre}" class="input" placeholder="Nombre" style="width: 80%;" required=""/>
                    <input name="apellido" type="text" th:field="${registroUsuario.apellido}" class="input lastname" placeholder="Apellido" style="width: 80%;" required=""/>
                    <input name="email" type="email" th:field="${registroUsuario.email}" class="input email" placeholder="Email" style="width: 80%;" required=""/>
                    <div>
                        <select th:field="${registroUsuario.roles}" class="input select" style="width: 94%; color: grey;">
                            <option value="">Selecciona un rol</option>
                            <option th:each="rol :${roles}" th:value="${rol.idRol}" th:text="${rol.nombre}"></option>
                        </select>
                    </div>
                    <input name="password" type="password" th:field="${registroUsuario.password}" class="input password" placeholder="Password" style="width: 80%;" required=""/>
                    <input name="confirmaPassword" type="password" th:field="${registroUsuario.confirmaPassword}" class="input password" placeholder="Confirma Password" style="width: 80%;" required=""/>
                </div>

                <!--FOOTER-->
                <div class="footer">
                    <input type="submit" value="Registrarme" class="button" />
                    <a th:href="login" class="register">Ya tienes una cuenta?</a>
                </div>

            </form>
            <!--END LOGIN FORM-->

        </div>
        <!--END WRAPPER-->

        <!--GRADIENT-->
        <div class="gradient"></div>

    </body>

</html>
